<h1>Update Figure</h1>
<h2>Edits for <%= @figure.name %></h2>

  <form action="/figures/<%= @figure.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Name</label>
    <br>
    <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>">

    <br>
    <p>Select an existing title or create a new one below.</p>


    <h3>Existing Titles</h3>
    <% @titles.each do |title| %>
      <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%= title.id %>" <%='checked' if @figure.titles.include?(title) %>><%= title.name %></input><br>
    <% end %>
    <br>

    <h3>New Title</h3>
    <label>New Title</label>
    <br>
    <input type="text" name="title[name]" id="new_title"></input>
    <br><br>

    <p>Select an existing landmark or create a new one below.</p>

    <h3>Existing Landmarks</h3>
    <% @landmarks.each do |landmark| %>
      <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>><%= landmark.name %></input><br>
    <% end %>
    <br>

    <h3>New Landmarks</h3>
    <label>New Landmark</label>
    <br>
    <input type="text" name="landmark[name]" id="new_landmark"></input>
    <br><br>

    <input type="submit" id="Edit Figure">
  </form>
